@model ListNewsVM[]
@{
    ViewBag.isAdmin = true;
    ViewBag.isNotHomeIndex = true;
}
<!-- #region News/home -->
<div id="AdminIndex" class="container-fluid white">
    <div class="container">
        <div class="row">
            <br />
            <br />
            <br />
            <br />
            <br />
            <h1 class="pink center">All News</h1>
            @foreach (var news in Model)
            {
                <form asp-controller="Admin" asp-action="DeleteNewsPost">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <p class="bold big">@news.Topic</p>
                        <p style="text-align:left;" class="date">
                            @news.Date.ToString("yyyy-MM-dd")
                            <input type="hidden" name="Id" value="@news.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger btn-xs" style="float: right; background-color: #bc2954">
                            @*<span style="float:right;" class="glyphicon glyphicon-trash"></span>*@
                        </p>
                        <p>@news.Text</p>
                        <img class="img-responsive" src="@news.Picture" />
                    </div>
                </form>
            }
        </div>
        <br />
        <div class="row centerObjects">
            <button onclick="window.history.back()" class="button pinkButton">Add News</button>
        </div>
    </div>
    <br />
    <br />
    <br />
</div>
